*.log
*.out
*.toc
*.aux
*DS_Store
*dragged*
converted-to
FCNCpaths.sty
FCNCsupport-blx.bib
FCNCsupport.pdf
*.nav
*.snm
*.vrb
*.bbl
*.blg
*.run.xml
FCNCtalk.pdf
mvplots.sh
test
test*
oldtex
figures/*
*converted-to*
