*.log
*.out
*.toc
*.aux
*DS_Store
*dragged*
converted-to
FCNCpaths.sty
FCNCsupport-blx.bib
FCNCsupport.bbl
FCNCsupport.blg
FCNCsupport.run.xml
mvplots.sh
test
test*
oldtex
talk
figures/*
*converted-to*